*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;

}
li{
list-style: none;
}

/*a{*/
    /*text-decoration: none;*/
/*}*/
.no_float{
    clear: both;
}

/*字体声明*/
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'),
    url('../font/iconfont.woff2') format('woff2'),
    url('../font/iconfont.woff') format('woff'),
    url('../font/iconfont.ttf') format('truetype'),
    url('../font/iconfont.svg#iconfont') format('svg');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #8c8c8c;
}
/*框架样式*/
#main{
    position: relative;
    height: 80%;
    min-height: 600px;
    width: 860px;
    margin: 50px auto 0;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    /*overflow: visible;*/
    /*border: solid 1px #e7e7e7;*/
}
#contain{
    position: absolute;
    width: 100%;
    height: 100%;
    border: solid 1px #e7e7e7;
}

/*菜单介绍*/
#introduce{
    position: relative;
    float: left;
    width: 60px;
    height: 100%;
    background: url("../images/bgk2.png") repeat-x;
    background-size: 100% 100%;
}
/*信息栏*/
#information{
    float: left;
    width: 250px;
    height: 100%;
    background: #eceae8;
}
/*对话框*/
#talk{
    position: absolute;
    float: left;
    width: 549px;
    height: 100%;
    background-color: #f5f5f5;
    z-index: 2;
    border-right: solid 1px #e7e7e7;
    top: 0;
    right: 0;
}
#introduce .divAll{
    position: relative;
    margin: 25px auto 0px;
    width: 25px;
    height: 25px;
    /*background: url("../images/bgk.png") no-repeat;*/
    /*background-size: 487px 462px;*/
}
#introduce #photo{
    width: 35px;
    height: 35px;
}
#introduce .menu{
    position: absolute;
    left: 50%;
    bottom: 18px;
    padding: 0;
    margin: 0;
    margin-left: -12.5px;
}
/*头像*/
#introduce #photo{
    /*margin: 16px auto 0px;*/
    position: relative;
    margin-top: 16px;
    border-radius: 2px;
    background: url("../images/photo1.png") no-repeat;
}
#userinfo_detailed_0{
    display: none;
    position: absolute;
    top: 17px;
    left: 17px;
    width: 295px;
    padding-bottom: 80px;
    background-color: #fff;
    border: solid 1px #cccccc;
    z-index: 3;
}
/*点击头像显示用户详细*/

.detailed_title{
    width: 230px;
    height: 60px;
    margin: 30px auto 0;
    padding-bottom: 25px;
    border-bottom: solid 1px #e7e7e7;
}
/*用户名字*/
.userinfo_name{
    float: left;
    width: 130px;
    margin-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#name0{
    font-size: 17px;
    background: url("../images/bgk16.png") no-repeat;
    background-position: 80px 4px;
}
/*.name2{*/
    /*font-size: 12px;*/
    /*color: #999999;*/
/*}*/

/*详细头像*/
#detailed_img0{
    float: left;
    width: 60px;
    height: 60px;
    margin-left: 35px;
    background: url("../images/photo1.png") no-repeat;
    background-size: 100% 100%;
}
/*详细内容*/
.detailed_content{
    width: 230px;
    margin: 10px auto 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*.detailed_content1{*/
    /*position: relative;*/
    /*margin-top: 20px;*/
/*}*/
.content_header{
    display: inline-block;
    margin-right: 10px;
    color: #999999;
}
/*.detailed_content1 span{*/
    /*position: absolute;*/
    /*left: 47px;*/
    /*top: 1px;*/
    /*font-size: 16px;*/
    /*-moz-user-select:none; !*火狐*!*/
    /*-webkit-user-select:none; !*webkit浏览器*!*/
    /*-ms-user-select:none; !*IE10*!*/
    /*user-select:none;*/
/*}*/

/*消息*/
#introduce .news{
    background: url("../images/bgk_2.png") no-repeat;
    /*background-size: 487px 462px;*/
    /*background-position: -243px -400px;*/
}
/*#introduce .news:hover{*/
    /*background: url("../images/bgk_1.png") no-repeat;*/
    /*!*background-position: -243px -400px;*!*/
/*}*/
#introduce a{
    display: block;
    width: 100%;
    height: 100%;
}
/*通讯录*/
#introduce .user{
    background: url("../images/bgk3.png") no-repeat;
}

#introduce .user:hover{
    background: url("../images/bgk3_1.png") no-repeat;
    background-position: -1px;
}
/*#introduce i{*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*margin-left: -12px;*/
    /*line-height: 0;*/
    /*font-size: 24px;*/
    /*cursor: pointer;*/
/*}*/
/*收藏*/
#introduce .collection{
    background: url("../images/bgk4.png") no-repeat;
}
#introduce .collection:hover{
    background: url("../images/bgk4_1.png") no-repeat;
    background-position: 0 -1px;
}
/*更多*/
#introduce .menu{
    background: url("../images/bgk5.png") no-repeat;
}
#introduce .menu:hover{
    background: url("../images/bgk5_1.png") no-repeat;
    background-position: 0 -1px;
}
/*鼠标经过样式变化*/
#introduce i:hover{
    color: #000;
}


/*信息栏盒子*/
/*#information div{*/
    /*width: 100%;*/
    /*height: 65px;*/
    /*!*background: #000;*!*/
/*}*/

#information #search_box{
    width: 100%;
    height: 60px;
    /*background: #6d0509;*/
}
#information .text{
    position: relative;
    float: left;
    width: 190px;
    height: 25px;
    margin: 25px 0 0 12px;
}
#information .text input{
    position: absolute;
    left: 0;
    top: 0;
    width: 140px;
    padding: 0 25px;
    height: 25px;
    border: 0;
    border-radius: 4px;
    background: #dbd9d8;
    outline: none;
}
/*搜索按钮*/
#information #search{
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 25px;
    border-radius: 4px;
    background: url("../images/bgk6.png") no-repeat;
    z-index: 1;
}

#information .text input:focus{
    background: #f8f8f8;
    border: solid 1px #dad9d8;
    width: 138px;
    height: 23px;
}
/*关闭*/
#information #close{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    height: 25px;
    background: url("../images/bgk7.png");
}

/*更多*/
#information .more{
    float: left;
    width: 25px;
    height: 25px;
    margin: 25px 0 0 12px;
    background: url("../images/bgk8.png") no-repeat;
}
#information .more a{
    display: block;
    width: 100%;
    height: 100%;
}
#information .more:hover{
    background: url("../images/bgk8_1.png") no-repeat;
}

/*联系人列表*/
#information .contacts1{
    position: relative;
}
#information .contacts1 .contacts_all{
    position: relative;
    width: 226px;
    height: 39px;
    padding: 13px 12px;
    /*background: #000;*/
    cursor: default;
}

/*点击搜索出现的内容2*/
#information .contacts2{
    display: none;
}
.contacts2_box{
    width: 237px;
    height: 30px;
    padding-left: 13px;
    background: #dedede;
    color: #818181;
    line-height: 30px;
}
/*内容二提示小内容*/
.contect1{
    font-size: 14px;
    color: #afafaf;
}
/*#information #contacts .contacts_all:hover{*/
    /*background: #dbd9d9;*/
/*}*/

#information .contacts1 .contacts_all .img{
    float: left;
}
#information .contacts1 .contacts_all .img img{
    width: 40px;
    height: 40px;
}

/*内容*/
#information .contacts1 .contacts_all .contect{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    font-size: 14px;
    font-weight: 500;
    padding-left: 10px;
}
/*时间*/
#information .contacts1 .contacts_all .time{
    position: absolute;
    right: 12px;
    top: 14px;
    z-index: 1;
    font-size: 13px;
    color: #b9b9b9;
}
/*关闭闹钟*/
.contacts_all .clock{
    display: none;
    position: absolute;
    right: 15px;
    top: 41px;
    font-size: 12px;
}

/*对话框*/
#talk #talk_header{
    position: relative;
    width: 100%;
    height:60px ;
    /*border-bottom: solid 1px #e7e7e7;*/
}
#talk_header #title{
    /*display: inline-block;*/
    display: none;
    margin: 35px 0 0 30px;
    font-size: 20px;
    line-height: 0;
}

/*小图标*/
.icons{
    position: absolute;
    right: 0;
    top: 0;
    width: 136px;
    height: 26px;
    /*background: gray;*/
}
.icons a{
    position: relative;
    float: left;
    width: 34px;
    height: 100%;
    text-decoration: none;
}
/*鼠标经过背景变化*/
.icons a:hover{
    background-color: #e3e3e3;
}
.icons a i{
    position: absolute;
    line-height: 0;
    left: 50%;
    top: 50%;
    margin-top: 2px;
    color: #000;
}
.icons a .if1{
    font-size: 30px;
    margin-left: -15px;
}
.icons a .if2{
    font-size: 28px;
    margin-left: -14px;
}
.icons a .if3{
    font-size: 14px;
    margin-left: -7px;
}

.icons a .if4{
    font-size: 20px;
    margin-left: -10px;
}
/*鼠标经过第四个时背景变化*/
.icons .close:hover{
    background-color: #f45454;
}
.icons .close:hover .if4{
    color: #fff;
}

/*更多*/
#talk_more{
    display: none;
    position: absolute;
    bottom: 5px;
    right: 12px;
}
#talk_more i{
    font-size: 25px;
    cursor: pointer;
}
#talk_more i:hover{
    color: #000;
}
/*中间部分*/
#talk_center{
    position: relative;
    width: 100%;
    overflow: hidden;

    /*height: calc(100vh - 61px - 146px);*/
}
#talk_img{
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -42px;
}

/*出现文本时显示时间*/
/*撤回后文本内容*/
#newTime{
    /*display: none;*/
    width: 60px;
    margin: 2px auto 0;
    background-color: #dadada;
    font-size: 12px;
    text-align: center;
    margin-bottom: 6px;
}
#newTime span{
    color: #fff;
}

#center_content{
    position: absolute;
    width: 100%;
}
/*撤回后文本内容*/
#center_content .tips{
    display: none;
    width: 170px;
    margin: 0 auto;
    background-color: #dadada;
    font-size: 12px;
    text-align: center;
    margin-bottom: 6px;
}
#center_content .tips span{
    color: #fff;
}
#center_content .tips a{
    color: #2c90ff;
}
/*文本内容部分*/
#center_content .center_txt{
    display: none;
    position: relative;
    padding: 0 30px 16px;
    height: 40px;
}

/*滚动条*/
.silderBar{
    display: none;
    width: 12px;
     height: 100%;
     position: absolute;
     top: 0;
     right: 0.5%;
     border-radius: 5px;
     overflow: hidden;
    }

.silderBar span{

    height: 40px;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    background: #c0c0c0d1;
    border-radius: 6px;
}
/*文字*/
.center_text{
    position: relative;
    float: right;
    padding: 10px;
    max-width: 400px;
    margin-right: 9px;
    margin-bottom: 7px;
    line-height: 15px;
    font-size: 14px;
    border-radius: 3px;
    background-color: #9eea6a;
    word-break: break-all;
}
.center_text img{
    position: absolute;
    right: -4px;
    top: 13.5px;
}

/*图片*/
.center_txt .center_img{
    float: right;
    border-radius: 3px;
    width: 35px;
    height: 35px;
    background: #000;
    background-size: 100% 100%;
}

/*右键按钮*/
.center_txt .center_text .center_text1{
    display: none;
    position: absolute;
    right: 5px;
    width: 74px;
    height: 225px;
    border: solid 1px #c4c4c4;
    background: #fff;
    z-index: 1;
}
.center_txt .center_text .center_text1 div{
    width: 100%;
    height: 28px;
    text-align: center;
    line-height: 28px;
    cursor: default;
}
/*鼠标经过时变化*/
.center_txt .center_text .center_text1 div:hover{
    background-color: #e2e2e2;
}

/*文本内容部分*/
#center_content .center_txt_left{
    display: none;
    position: relative;
    padding: 0 30px 16px;
    height: 40px;
}

/*文字*/
.center_txt_left .center_text{
    position: relative;
    float: left;
    padding: 9px;
    max-width: 400px;
    margin-left: 9px;
    border: solid 1px #ededed;
    line-height: 15px;
    font-size: 14px;
    border-radius: 3px;
    background-color: #fff;
}
/*小三角*/
.center_txt_left .center_text img{
    position: absolute;
    left: -4px;
    top: 13.5px;
}

/*图片*/
.center_txt_left .center_img{
    float: left;
    border-radius: 3px;
    width: 35px;
    height: 35px;
    background: #000;
    background-size: 100% 100%;
}


/*底部*/
.talk_footer{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 145px;
    border-top: solid 1px #e7e7e7;
    border-bottom: solid 1px #e7e7e7;
    background-color: #fff;
    overflow: hidden;
}

/*小图标*/
.talk_footer .icons1{
    /*position: relative;*/
     width: 520px;
     height: 30px;
    margin: 10px 0 0 30px;
    /*background: #000;*/
}

.talk_footer .icons1 a{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 7px;

}
.talk_footer .icons1 .a3{
    background: url("../images/bgk9.png");
    /*margin-top: 10px;*/
}
.talk_footer .icons1 .a3:hover{
    background: url("../images/bgk9_1.png");
    background-position: 1px 0px;
}
/*第六个*/
.talk_footer .icons1 .a6{
    position: absolute;
    right: 0;
    margin-right: 20px;
    background: url("../images/bgk10.png");
}
.talk_footer .icons1 .a6:hover{
    background: url("../images/bgk10_1.png");
    background-position: 1px -1px;
}

.talk_footer i{
    position: absolute;
    left: 0;
    top: 12px;
    line-height: 0;
    color: #5e5e5e;
}
/*鼠标经过时小图标颜色变化*/
.talk_footer i:hover{
    color: #000;
}
.talk_footer .if1{
    font-size: 18px;
}
.talk_footer .icons1 .if2{
    left: -2px;
    top: 10px;
    font-size: 25px;
}
.talk_footer .if3{
    font-size: 20px;
}
.talk_footer .if4{
    font-size: 8px;
    left: -16px;
}
.talk_footer .if5{
    left: -24px;
}
/*输入框*/
.talk_footer .area textarea{
    display: inline-block;
    width: 520px;
    height: 68px;
    padding-left: 30px;
    /*max-height: 170px;*/
    outline: none;
    border: 0;
    font-size: 16px;
    resize: none;
    /*overflow:scroll;*/
    overflow-x:hidden;
}
/*发送*/
.talk_footer #send{
    position: absolute;
    right: 30px;
    bottom: 10px;
    width: 67px;
    height: 24px;
    text-align: center;
    border: solid 1px #e7e7e7;
    color: #606060;
    font-size: 14px;
    line-height: 24px;
}
.talk_footer #send span{
    width: 100%;
    height: 100%;
}
.talk_footer #send_tips{
    display: none;
    position: absolute;
    top: -30px;
    left: -75px;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    border: 1px solid gray;
    color: black;
    font-weight: 700;
}
/*鼠标经过时变化*/
.talk_footer #send:hover{
    background: #129611;
    border: solid 1px #129611;
}
.talk_footer #send:hover span{
    color: #fff;
    cursor: pointer;
}


/*============*/
/*用户信息*/
#userinfo{
    /*display: none;*/
    position: absolute;
    top: -1px;
    right: 0px;
    width: 250px;
    height: 100%;
    background-color: #f5f5f5;
    /*overflow: hidden;*/
    border: solid 1px #e7e7e7;
}
/*用户头部*/
.userinfo_title{
    width: 200px;
    height: 35px;
    margin: 30px auto 0;
    padding-bottom: 25px;
    border-bottom: solid 1px #e7e7e7;
}
/*用户更多*/
.userinfo_more{
    position: relative;
    float: left;
    width: 35px;
    height: 35px;
    border: solid 1px #dadada;
    background: url("../images/bgk17.png") no-repeat;
    background-size: 100% 100%;
}
/*用户头像*/
#userinfo_img{
    position: relative;
    float: left;
    width: 35px;
    height: 35px;
    margin-left: 18px;
    background: url(../images/div1.png) no-repeat;
    background-size: 100% 100%;
}
.footer_font{
    position: absolute;
    left: 50%;
    bottom: -17px;
    transform: translateX(-50%);
    width: 35px;
    text-align: center;
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*点击头像显示用户详细*/
#userinfo_detailed{
    display: none;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 295px;
    padding-bottom: 80px;
    background-color: #fff;
    border: solid 1px #cccccc;
}
.detailed_title{
    width: 230px;
    height: 60px;
    margin: 30px auto 0;
    padding-bottom: 25px;
    border-bottom: solid 1px #e7e7e7;
}
/*用户名字*/
.userinfo_name{
    float: left;
    width: 130px;
    margin-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#name1{
    font-size: 17px;
    background: url("../images/bgk16.png") no-repeat;
    background-position: 110px 4px;
}
.name2{
    font-size: 12px;
    color: #999999;
}

/*详细头像*/
#detailed_img{
    float: left;
    width: 60px;
    height: 60px;
    margin-left: 35px;
    background: url("../images/div1.png") no-repeat;
    background-size: 100% 100%;
}
/*详细内容*/
.detailed_content{
    width: 230px;
    margin: 10px auto 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.detailed_content1{
    position: relative;
    margin-top: 20px;
}
.content_header{
    display: inline-block;
    margin-right: 10px;
    color: #999999;
}
.detailed_content1 span{
    position: absolute;
    left: 47px;
    top: 1px;
    font-size: 16px;
    -moz-user-select:none; /*火狐*/
    -webkit-user-select:none; /*webkit浏览器*/
    -ms-user-select:none; /*IE10*/
    user-select:none;
}
/*.detailed_content1 span:hover{
    border: solid 1px #bdc9d6;
    border-radius: 5px;
    background: #f5f7f9;
}*/


/*点击修改名称*/
#modify{
    display: none;
    position: absolute;
    left: 47px;
    top: 1px;
    outline: none;
    width: 150px;
    margin-top: 1px;
    border: 0;
    background-color: #fff;
    color: #000;
    font-size: 16px;
}
/*地区*/

/*功能*/
.userinfo_effect{
    width: 200px;
    margin: 20px auto 0;
    color: #999999;
}
/*按钮*/
.userinfo_button{
    position: relative;
    width: 40px;
    height: 18px;
    border-radius: 9px;
    background-color: #cbcbcb;
    margin-left: 25px;
    margin-top: 5px;
    overflow: hidden;
}
.userinfo_button1{
    display: none;
}
.userinfo_button2{
    display: none;
}
.userinfo_button3{
    display: none;
}
/*按钮覆盖背景*/
/*.userinfo_bgk{*/
    /*position: absolute;*/
    /*left: -40px;*/
    /*top: 0;*/
    /*width: 40px;*/
    /*height: 18px;*/
    /*border-radius: 9px;*/
    /*background-color: #1aad19;*/
    /*!**!*/
/*}*/
.userinfo_bgk{
    position: absolute;
    left: 0px;
    top: 0;
    width: 0;
    height: 18px;
    border-radius: 9px;
    background-color: #1aad19;
    /**/
}
/*小圆*/
.userinfo_circular{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    z-index: 1;
}

/*小图标*/
.detailed_icon{
    /*display: inline-block;*/
    position: absolute;
    right: 30px;
    bottom: 27px;
    cursor: pointer;
}
.detailed_icon i{
    font-size: 30px;
}
.detailed_icon1{
    right: 75px;
    bottom: 30px;
}
.detailed_icon1 i{
    font-size: 28px;

}


/*大头像*/
#big_img{
    display: none;
    position: absolute;
    width: 330px;
    height: 350px;
    background: #000;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    z-index: 3;
}
/*处理*/
#handle{
    width: 329px;
    height: 25px;
    border: solid 1px #d1d1d1;
    border-bottom: 0;
    background-color: #f5f5f5;
}
/*小图标*/
.handle_icons{
    width: 102px;
}
/*大头像图像*/
.bigImg{
    background: url("../images/div1.png") no-repeat;
    background-size: 100% 100%;
    height: 324px;
}