<html op="newest">

<head>
    <meta name="referrer" content="origin" charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../resources/css/news.css">
    <link rel="shortcut icon" href="favicon.ico">
    <title>New Links | Hacker News</title>
</head>

<body>
<center>
  <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
      
    <tr>
        <td bgcolor="#ff6600">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
                <tr>
                    <td style="width:18px;padding-right:4px"><a href="https://news.ycombinator.com"><img src="../resources/images/y18.gif" width="18" height="18" style="border:1px white solid;"></a></td>
                    <td style="line-height:12pt; height:10px;"><span class="pagetop"><b class="hnname"><a href="news">Hacker News</a></b>
                            <a href="newswelcome.html">welcome</a> | <span class="topsel"><a href="newest">new</a></span> | <a href="threads?id=xiaoxiaobao">threads</a> | <a href="front">past</a> | <a href="newcomments">comments</a> | <a href="ask">ask</a> | <a href="show">show</a> | <a href="jobs">jobs</a> | <a href="submit">submit</a> </span></td>
                    <td style="text-align:right;padding-right:4px;"><span class="pagetop">
                            <a id='me' href="user?id=xiaoxiaobao">xiaoxiaobao</a> (1) |
                            <a id='logout' href="logout?auth=aebeb6226b9c5cc3e01aeb9727c394479c05552b&amp;goto=newest">logout</a> </span></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr id="pagespace" title="New Links" style="height:10px"></tr>
    <!-- 头部 -->
    <!-- 中间新闻列表部分 -->
    <tr>
      <td>
        <table border="0" cellpadding="0" cellspacing="0" class="itemlist">

          <% for ( var i=0 ; i < list.length; i++) { %>
            <tr class='athing' id='19580676'>
                <td align="right" valign="top" class="title"><span class="rank"><%= (i+1) %>.</span></td>
                <td valign="top" class="votelinks">
                    <center>
                      <a id='up_19580676' onclick='return vote(event, this, "up")' href='vote?id=19580676&amp;how=up&amp;auth=651b5857bf18008746a296eb9008f85ca5406903&amp;goto=newest'>
                            <div class='votearrow' title='upvote'></div>
                        </a>
                      </center>
                </td>
                <td class="title">
                  <a href="/item?id=<%= list[i].id %>" class="storylink" rel="nofollow">
                    <%= list[i].title %>
                  </a>
                  <span class="sitebit comhead">
                   (<a href="from?site=love-and-lottery-spells-expert.com"><span class="sitestr">love-and-lottery-spells-expert.com</span></a>)
                 </span>
               </td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td class="subtext">
                    <span class="score" id="score_19580676">1 point</span> by 
                    <a href="user?id=profnahabu" class="hnuser">
                        <font color="#3c963c">profnahabu</font>
                    </a>
                     <span class="age"><a href="item?id=19580676">1 minute ago</a></span>
                     <span id="unv_19580676"></span> | <a href="hide?id=19580676&amp;auth=651b5857bf18008746a296eb9008f85ca5406903&amp;goto=newest" onclick="return hidestory(event, this, 19580676)">hide</a> |<a href="item?id=19580676">discuss</a> 
                   </td>
            </tr>
            <tr class="spacer" style="height:5px"></tr>
            <%}%>

            <tr class="morespace" style="height:10px"></tr>
            <tr>
                <td colspan="2"></td>
                <td class="title">
                  <a href="newest?next=19580440&amp;n=31" class="morelink" rel="next">More</a>
                </td>
            </tr>
        </table>
      </td>
    </tr>


    <!-- 尾部 -->
    <tr>
        <td><img src="s.gif" height="10" width="0">
            <table width="100%" cellspacing="0" cellpadding="1">
                <tr>
                    <td bgcolor="#ff6600"></td>
                </tr>
            </table><br>
            <center><span class="yclinks"><a href="newsguidelines.html">Guidelines</a>
                    | <a href="newsfaq.html">FAQ</a>
                    | <a href="mailto:hn@ycombinator.com">Support</a>
                    | <a href="https://github.com/HackerNews/API">API</a>
                    | <a href="security.html">Security</a>
                    | <a href="lists">Lists</a>
                    | <a href="bookmarklet.html" rel="nofollow">Bookmarklet</a>
                    | <a href="http://www.ycombinator.com/legal/">Legal</a>
                    | <a href="http://www.ycombinator.com/apply/">Apply to YC</a>
                    | <a href="mailto:hn@ycombinator.com">Contact</a></span><br><br>
                <form method="get" action="//hn.algolia.com/">Search:
                    <input type="text" name="q" value="" size="17" autocorrect="off" spellcheck="false" autocapitalize="off" autocomplete="false"></form>
            </center>
        </td>
    </tr>
  </table>
</center>
</body>
<script type='text/javascript' src='hn.js?dbfKQl6U9GvDfydDxVHd'></script>

</html>